<div class="login-container">


 


    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

        <div class="form-header">
            <div *ngIf="!backendHealthy && !error" class="spinner-container">
                <mat-spinner diameter="40"></mat-spinner>
                <div class="loading-text">Checking authentication service...</div>
            </div>
            <div *ngIf="error" class="error">{{ error }}</div>
            <img src="../../assets/logos/PetCareAI_logo.png" class="main-lock-icon" alt="">
        </div>
        <mat-error *ngIf="!loginValid">
            The email and password were not recognized
        </mat-error>
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email" required />
            <mat-error>
                Please provide a valid email address
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required />
            <mat-error>
                Please provide a valid password
            </mat-error>
        </mat-form-field>


        <button mat-raised-button color="primary" type="submit" class="full-width"
            [disabled]="loginForm.invalid || !backendHealthy">
            Login
        </button>
        <div *ngIf="mfaPending" class="mfa-block">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Authentication code</mat-label>
                <input matInput [(ngModel)]="mfaCode" name="mfaCode" />
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onVerifyMfa()" class="full-width">Verify code</button>
        </div>
        <div class="login-links">
            <a routerLink="/register">Create an account</a>
            <a routerLink="/forgot-password">Forgot password?</a>
        </div>
    </form>

</div>