.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 220px;
}

.dashboard-container {
  padding: 24px;
}

.dashboard-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}